[licenses]
confidence-threshold = 0.93
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "MIT",
    "BSD-3-Clause",
    "BSD-2-Clause",
    "CC0-1.0",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "ISC",
    "Zlib",
    "MPL-2.0",
]

[sources]
allow-git = ["https://github.com/chingiztob/osm4routing2.git"]
